/* Estilos base */
/* Estilos base */
.input-style {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #006400;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    width: 40%;
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

.classvoz{

    display: none;
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
    .input-style {
        font-size: 16px; /* Reducir tamaño de fuente para dispositivos móviles */
        padding: 3px; /* Reducir el padding para dispositivos móviles */
        width: 80%;
    }

    .classvoz{
        margin-left: 85px;
        display: block;
    }
}
