canvas {
   
    
    width: 600px;
    height: 700px;
    margin-top: 50px;

    /* Ocupa el ancho completo de la pantalla */
   
    /* Ajusta la altura automáticamente para mantener la proporción */
}



/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    canvas {
        width: 450px;
        height: 240px;
        
       
        /* Puedes ajustar este valor según tus necesidades */
    }
}