.canvasDino {
   
    
    width: 900px;
    height: 335px;
    margin-top: 120px;

    /* Ocupa el ancho completo de la pantalla */
   
    /* Ajusta la altura automáticamente para mantener la proporción */
}



/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .canvasDino {
        width: 320px;
        height: 150px;
        
       
        /* Puedes ajustar este valor según tus necesidades */
    }

  
}

.h4-modal{
    font-size: 25px;
  }
