.portfolio-section {
    text-align: center;
    padding: 10px;
    background-color: #000;
    /* Fondo negro */
    color: #fff;
    /* Texto blanco */
    margin-bottom: 10px;
}

.profile-image-container {
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 30px;
    width: 250px;
    /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 250px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.phrases {
    margin-bottom: 60px;
}

.phrases p {
    margin: 10px 0;
}

.button {
    margin-bottom: 20px;
}

.btn-projects {
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

.info-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    /* Para permitir que las cartas se envuelvan a la siguiente línea en pantallas más pequeñas */
}

.info-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 10px;

    padding-bottom: 40px;
    /* Ajusta el margen según sea necesario */
}

.info-card h4 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.info-card p {
    margin: 10px 0;
}

h4 {
    font-size: 60px;
    padding-bottom: 20px;
}

li {
    font-size: 20px;
}

.p-sobremi {

    color: #0beee3;
}

label {
    color: #0beee3;
    font-size: 25px;
}

.contact-section {
    margin-top: 90px;

    justify-content: space-between;
}

.contact-form {
    flex: 1;
    /* margin-left: 80px; */
    /* Márgenes a la izquierda y a la derecha */
}

.contact-info {
    flex: 1;
    margin-right: 50px;
    /* Márgenes a la izquierda y a la derecha */
}




.contact-info img {
    width: 250px;
    height: auto;
    padding: 45px;
    border-radius: 50%;


}

/* Establece estilos específicos para los inputs y textareas */
.contact-form input,
.contact-form textarea {
    width: 750px;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background: linear-gradient(to right, #e7e4e4, #f3f3f3, #0beee3);

    /* Anchura fija para los elementos del formulario */

    /* Márgenes arriba y abajo */
}

.contact-form textarea {

    height: 200px;
    padding-bottom: 10px;



}

.responsive-image {
    width: 100%;
    height: auto;
    max-width: 100%;
}

label {
    padding: 16px;
}

.error-message {

    color: red;
    padding: 10px;
    font-size: 15px;
}



/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-form,
    .contact-info {
        flex: 1;
        margin: 20px 0;
        /* Márgenes arriba y abajo */
    }

    .contact-info img {
        margin-top: 20px;
    }

    .contact-form input,
    .contact-form textarea {
        width: 300px;
        /* Anchura fija para los elementos del formulario */
        margin: 10px 0;
        /* Márgenes arriba y abajo */
    }

    .name {
        font-size: 40px;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.yodaimage {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonContact {
    background: linear-gradient(to right, #000000, #60a12b, #12fd01);
    /* Degradado de negro a azul oscuro */
    color: #FFFFFF;
    /* Color del texto en blanco */
    padding: 10px 20px;
    /* Espaciado interno (arriba/abajo, izquierda/derecha) */
    font-size: 26px;
    /* Tamaño del texto */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    margin: 5px;
    /* Márgenes */
    text-align: center;
    /* Asegura que el texto esté centrado, útil si el botón se convierte en un bloque o si el texto es largo */
    display: inline-block;
    /* Opción para asegurar que el botón no se estire más de lo necesario */
    transition: background 0.3s ease;
}

.button {
    margin-top: 50px;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 700px) {
    .yodaimage {
        width: 70%;
        /* Hace que la imagen ocupe el 100% del ancho del contenedor padre */
    }

    .buttonContact {

        margin-right: 65px;
    }
}