.portfolio-section {
    text-align: center;
    padding: 10px;
    background-color: #000;
    /* Fondo negro */
    color: #fff;
    /* Texto blanco */
    margin-bottom: 10px;
}

.profile-image-container {
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 30px;
    width: 250px;
    /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 250px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.phrases {
    margin-bottom: 60px;
}

.phrases p {
    margin: 10px 0;
}

.button {
    margin-bottom: 20px;
}

.btn-projects {
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

.info-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    /* Para permitir que las cartas se envuelvan a la siguiente línea en pantallas más pequeñas */
}

.info-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 10px;

    padding-bottom: 40px;
    /* Ajusta el margen según sea necesario */
}

.info-card h4 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.info-card p {
    margin: 10px 0;
}

h4 {
    font-size: 50px;
    padding-bottom: 30px;
}

li {
    font-size: 20px;
}

.p-sobremi {

    color: #0beee3;
}

label {
    color: #0beee3;
    font-size: 25px;
}

.contact-section {}

.contact-form {

    flex: 1;
    margin-left: 200px;
    margin-right: 40px;

    /* Ajusta según sea necesario */
    /* Ajusta según sea necesario */
}

.contact-info {
    flex: 1;
    margin-left: 80px;
    /* Ajusta según sea necesario */
}

button:hover {
    background-color: #45a049;
}

.contact-section {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    flex: 1;
    margin-left: 200px;
    margin-right: 40px;
}

.contact-info {
    flex: 1;
    margin-left: 80px;
}

button:hover {
    background-color: #45a049;
}

.contact-info img {
    width: 250px;
    height: auto;
    padding: 25px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}

/* Establece estilos específicos para los inputs y textareas */
.contact-form input,
.contact-form textarea {
    width: 80%;
    margin-left: 30px;
}

.responsive-image {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-form,
    .contact-info {
        flex: 1;
        margin: 0;
    }

    .contact-info img {
        margin-top: 20px;
    }
}